<table class="min-w-full table-auto border-collapse p-4">
    <thead>
      <tr>
        <th class="px-4 py-2 border-b text-left">Employee Id</th>
        <th class="px-4 py-2 border-b text-left">Name</th>
        <th class="px-4 py-2 border-b text-left">Job Id</th>
      </tr>
    </thead>

    <!--TODO: Dynamically build from object
        TODO: Implement Pagination-->
    <tbody>

      @if (!employeeList()) {
        <tr>
          <td>LOADING DATA...</td>
        </tr>
      }
      @else {
        @for (employee of employeeList(); track employee.employeeId) {
          <tr>
            <td class="px-4 py-2 border-b">{{ employee.employeeId}}</td>
            <td class="px-4 py-2 border-b">{{ employee.lastName + ", " + employee.firstName }}</td>
            <td class="px-4 py-2 border-b">{{ employee.jobId}}</td>
          </tr>
        }
        
      }
      
    </tbody>
  </table>
  