<div class="grid">
    <nav class="bg-blue-300 text-white p-4 align-middle">
        <div class="flex justify-between">
            <span class="text-xl ">Employee Dashboard</span>

            <ul class="hidden md:flex gap-x-6">
                <li routerLink="/home" class="cursor-pointer">Home</li>
                <li routerLink="/employees" class="cursor-pointer">Employees</li>
            </ul>

            <!--Burger Menu-->
            <button (click)="toggleNavBar()" class="md:hidden text-white">
                <span class="block w-6 h-0.5 bg-white mb-1"></span>
                <span class="block w-6 h-0.5 bg-white mb-1"></span>
                <span class="block w-6 h-0.5 bg-white"></span>
            </button>
        
            
        </div>
    </nav>

    <!--Dropdown-->
    @if(isToggled) {
        <div class="md:hidden w-full bg-blue-300">
            <ul class=" flex flex-col font-medium">
                <li routerLink="/home" class="block py-2 px-3 hover:bg-blue-200 cursor-pointer text-white">Home</li>
                <li routerLink="/employees" class="block py-2 px-3 hover:bg-blue-200 cursor-pointer text-white">Employees</li>
            </ul>
        </div>
    }
</div>